body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.about-container .mission,.about-container .vision{
    width: 50%;
}
.values-container{
    width: 30%;
    background-color: #3d3d3d;
    color: #eae3e3;
    border-radius: 1rem;
    padding: .5rem;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s ease-in-out;
}
.sub-container{
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}
.carousel img{
    width: 100%;
    height: 40rem;
    font-family: 'Montserrat', sans-serif;
}
.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f0e0e;
    border-radius: 2rem;
    padding: auto;
    opacity: 75%;
}
.carousel-caption p, .carousel-caption h5{
    color: #eae3e3;
}
.landing {
    margin: 0;
    padding: 0;
    background-image: url('/Images/landing-bg.png');
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}
.para-container, .content-container{
    font-family: 'Montserrat', sans-serif;
}
.content-container{
    width: 50%;
}
.nav-container a, .mobile-menu a {
    font-size: 2rem;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Montserrat', sans-serif;
}

.landing-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.text-container h1 {
    font-size: 5rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid.landing {
    position: relative;
}
.drop-down i {
    font-size: 3rem;
    color: whitesmoke;
}
.drop-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}
.nav-container a:hover {
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

footer h4 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

footer .footer-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.mobile-menu{
    display: none;
}
.burger-container{
    padding: 1rem;
    padding-right: 4rem;
    background-color: #9a9999;   
    opacity: 75%; 
}
.dropdown-menu, .dropdown-item{
    background-color: #0f0e0e;
    color: #ffffff;
}
/* Responsiveness */

/* Media Query for iPads and Tablets  */
@media screen and (min-width: 577px) and (max-width: 770px) {
    body {
        width: 100vw;
    }
    .carousel{
        width: 30rem;
        height: 20rem;
    }
    .nav-container a {
        font-size: 2rem;
    }

    .text-container h1 {
        font-size: 3rem;
    }

    .para-container, .content-container {
        width: 100vw;
    }
    .corevalues .value-containers h1{
        font-size: x-large;
    }
    .logo-container img {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        height: 15rem;
        width: 15rem;
    }

    footer .container h4, footer .container h5{
        font-size: 1rem;
    }
    footer .container p{
        text-align: center;
        font-size: 0.6rem;
        padding: .2rem;

    }
    .drop-down i {
        display: none;
        font-size: 2rem;
    }
    .values-container{
        font-size: .8rem;
    }
    .pagelanding-container h1{
        font-size: 2rem;
    }
    .pagelanding-container img{
        width: 10rem;
    }
    .mobile-menu{
        display: none;
    }
    .logo-container{
        display: none;
    }
}

/* Media query for Mobile */
@media screen and (min-width: 300px) and (max-width: 426px) {
    body{
        width: 100vw;
        margin: 0;
        padding: auto;
    }
    .container-fluid .landing{
        background-size: cover;
    }
    .carousel-item img{
        height: 50vh;
    }
    .landing-container {
        flex-direction: column;
    }
    .text-container h1{
        font-size: 3rem;
    }
    .nav-container {
        display: none;
    }
    .logo-container img {
        display: none;
    }
    footer .container h4, footer .container h5{
        font-size: .6rem;
    }
    footer .container-fluid{
        padding: 0;
        margin: 0;
    }
    footer .container p{
        text-align: center;
        font-size: 0.5rem;
        padding: 0.1rem;
    }
    footer .copyright-container img, 
    footer .copyright-container p{
        display:none;
    }
    .drop-down i {
        display: none;
    }
    .social-privacy {
        display: none;
    }
    .para-container, .content-container{
        width: 100vw;
    }
    .value-containers {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .values-container{
        width: 100%;
    }
    .about-container .mission,
    .about-container .vision{
        width: 100%;
    }
    .pagelanding-container h1{
        font-size: 1.7rem;
    }
    .pagelanding-container img{
        width: 8rem;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu a {
        font-size: 1rem;
        padding: 1rem;
    }
    .logo-container{
        display: none;
    }
    .burger-container{
        padding: .5rem;
    }
}